[2019-04-25 22:58] DaveTryon opened #12 "[Test] - please ignore"
Test issue to validate query. I'll close it once the test is over

[2019-04-25 22:59] DaveTryon commented on #12
Test succeeded. Closing issue.

[2019-04-25 22:59] #12 closed

[2019-05-10 22:19] DaveTryon opened #26 "[Feature Request] Stamp the minimum Newtonsoft dependency in the nuspec file"
**Is your feature request related to a problem? Please describe.**
A user trying to consume axe-windows in Visual Studio has the potential to specify an unsupported version of Newtonsoft.Json. We use version 10.0.3, so versions before 10.X should be blocked via the nuspec file

**Sample**
This is an excerpt from a NuGet package that provides similar protection:
[code]

[2019-05-10 23:13] DaveTryon commented on #26
This is being tracked separately

[2019-05-10 23:13] #26 closed

[2019-05-13 17:14] karanbirsingh opened #27 "[BUG] EditSupportsOnlyValuePattern should return an error"
[Migrated from ai-win](https://github.com/microsoft/accessibility-insights-windows/issues/287), see full detail there

[2019-05-13 17:17] karanbirsingh opened #28 "Structure rules should include IsContentElement/IsControlElement/pattern checks and increased unit test coverage"
[Migrated from ai-win](https://github.com/microsoft/accessibility-insights-windows/issues/282), see original post there

The [structure rules](https://github.com/Microsoft/accessibility-insights-windows/tree/master/src/AccessibilityInsights.Rules/Library/Structure) have the following gaps:
- they run on elements regardless of whether `IsControlElement` or `IsContentElement` is true.
- unit test co

[2019-05-23 21:16] karanbirsingh opened #36 "[BUG] Sample issue [Test]"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual be

[2019-05-23 21:16] #36 closed

[2019-05-31 18:12] karanbirsingh opened #42 "[BUG] Adjacent identical hyperlinks should raise a warning instead of an error"
**Describe the bug**
The rule `Focusable sibling elements must not have the same Name and LocalizedControlType` fails when there are two adjacent Hyperlink elements. Hyperlinks should be excluded from this rule and moved into a warning based on the rationale given [here ](https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-link.html)(`Best practice is that links with the same destinat

[2019-05-31 18:13] karanbirsingh commented on #42
Download, rename to feedback.a11ytest, and open in Accessibility Insights for Windows to see repro:
[feedback.zip](https://github.com/microsoft/axe-windows/files/3242403/feedback.zip)

[2019-06-04 21:46] Sirisha-Kommushetty commented on #28
@RobGallo - Please comment and then assign back to me.

[2019-06-04 21:49] Sirisha-Kommushetty commented on #27
@RobGallo - Please comment and assign back to me

[2019-06-06 00:38] Sirisha-Kommushetty opened #47 "[BUG] - Manage Axe-Windows dependencies"
**Describe the bug**
  When I first assembled the automation package, I included all of the dependencies (Sarif, Netwonsoft, and some System.* assemblies) directly into the package. I did it largely out of ignorance, because it seemed logical to have the files all together in one place. That also helped the PowerShell cmdlet story to flow easily. As it turns out, the recommended way to manage depe

[2019-06-19 18:09] Sirisha-Kommushetty commented on #47
Based on my convo with Rob and Dave, we'll accommodate this for 0.3.0 release and call out any potential breaking changes.

[2019-06-19 18:17] Sirisha-Kommushetty commented on #28
This is low priority and can be investigated at a later point.

[2019-06-19 18:28] Sirisha-Kommushetty commented on #27
Please update the release notes for Axe.Windows to callout the rule changes for reference.

[2019-07-04 21:58] chrisoldwood opened #92 "BoundingRectangle failures reported for hidden tab control in old style wizards"
In older style native Win32 application wizards there is a hidden tab control near the top. This hidden tab control, which is purely an implementation detail, is being picked up by the Insights tool and failures reported against the tab positions and labels.

Here is an example of the failures reported by Insights:

![Insights-Errors](https://user-images.githubusercontent.com/2768826/60688526-a669

[2019-07-05 16:32] karanbirsingh commented on #92
@chrisoldwood The rule engine used by insights lives in this GitHub repo so I've transferred the issue. We will take a look at this soon - thanks!

[2019-07-08 18:55] karanbirsingh commented on #92
Hi @chrisoldwood, I chatted with @RobGallo about this. Thanks for the report & let us know what you think.

I have attached an a11ytest file below of SourceMonitor. To open it in Accessibility Insights, please rename it to SourceMonitor.a11ytest (GitHub doesn't allow custom extension uploads).
[SourceMonitor.zip](https://github.com/microsoft/axe-windows/files/3369796/SourceMonitor.zip)

**bounding

[2019-07-08 20:20] chrisoldwood commented on #92
Thanks for acknowledging the issue. I agree that it is going to be tricky to distinguish old style wizards because the point is to abstract the UI from the client 😃. If you want to close this issue then go ahead, my main aim was to document the problem for myself and others. In the meantime I will look into finding a way to make this detectable in a safe way.

[2019-07-09 00:39] karanbirsingh commented on #92
Thanks @chrisoldwood - we'll close this. Do let us know if something comes to mind!

[2019-07-09 00:39] #92 closed

[2019-07-11 22:24] RobGallo commented on #47
Fixed in PR #86

[2019-07-12 00:19] karanbirsingh opened #104 "[Feature Request] Allow users to supply file name of exported .a11ytest file"
**Is your feature request related to a problem? Please describe.**

In UI tests that generate multiple a11ytest files, it is desirable to distinguish them in the resulting output. The current `Config.Builder` allows the user to specify a directory, but the name of the resulting .a11ytest file is determined by Axe.Windows. It would be helpful if the user could supply a file name provider to the `Bu

[2019-07-29 16:45] DaveTryon commented on #47
@Sirisha-Kommushetty, please determine if we can close this out. Thanks!

[2019-07-29 16:46] DaveTryon commented on #42
Closing this out

[2019-07-29 16:46] #42 closed

[2019-07-29 16:47] DaveTryon commented on #27
@karanbirsingh, can you please close this out? Thanks!

[2019-07-29 17:01] #27 closed

[2019-07-29 17:03] DaveTryon opened #118 "[Bug] A11yTest files should be forward and backward compatible"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

**Describe the bug**
Axe.Windows will throw an exception if it tries to open an A11yTest file with an unknown RuleId. This most typically happens when opening an A11yTest file generated by a newer version of Axe-Windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Scan an app using AI

[2019-07-30 17:38] Sirisha-Kommushetty commented on #47
Thanks for getting this done!

[2019-07-30 17:38] #47 closed

[2019-07-30 21:19] DaveTryon commented on #118
Fixed in Axe.Windows 0.3.2

[2019-07-30 21:19] #118 closed

[2019-07-31 17:24] Sirisha-Kommushetty commented on #104
@RobGallo - Did you connect with Karan on this?

[2019-08-05 18:00] Sirisha-Kommushetty commented on #104
We're not doing this at this time.

[2019-08-05 18:00] #104 closed

[2019-08-05 18:02] Sirisha-Kommushetty commented on #28
closing this out.

[2019-08-05 18:02] #28 closed

[2019-08-06 14:03] RobGallo opened #129 "[feature] Add a rule to detect characters in the private unicode range"
From the unicode spec: https://www.unicode.org/versions/Unicode12.0.0/ch23.pdf
Section 23.5
"The primary Private Use Area consists of code points in the range U+E000 to U+F8FF"

Such codepoints cannot be rendered by speech synthesizers or Braille displays because the meaning of any codepoint in the range is private.

Rules should be created to detect such characters in the UIA Name, HelpText, and

[2019-08-06 22:41] jalkire commented on #104
@Sirisha-Kommushetty Why not?

[2019-08-22 15:40] RobGallo opened #139 "[BUG] BoundingRectangleNotNull rule should exclude non-focusable buttons that are children of sliders"
We have received a report of a false positive for the BoundingRectangleNotNull rule in the case where a non-focusable button is the child of a slider. This is similar to a previous issue/exemption for the same rule, regarding WPF scroll bars. (See AI-Win issue [#205](https://github.com/microsoft/accessibility-insights-windows/issues/205).)

We should change the rule so that non-focusable buttons w

[2019-08-22 16:07] RobGallo opened #140 "[BUG] False positives created by change to ControlShouldSupportTextPattern rule"
The ControlSupportsTextPattern rule was changed to require all edit controls to support the text pattern. This is in-line with a recent change to the UIA documentation. However, there are legacy situations which the rule now reports as errors and which are unlikely to be resolved. These are perceived as false positives by users.

The first reproduceable instance given to us was the find edit field

[2019-08-28 13:58] RobGallo opened #142 "[BUG] False positive for BoundingRectangleNotNull for group elements in Edge"
An app creator contacted us with an AI-Web scan of an application which included web-based content displayed in Edge (original, not based on Chromium). Seemingly normal div tags are converted by Edge into UIA elements with the control type of group. But these elements have bounding rectangles which are null.
Since this is not resolvable by the end user, and not likely to be resolved in the older v

[2019-08-28 21:33] Sirisha-Kommushetty commented on #142
Seems straightforward to me.

[2019-09-03 18:38] RobGallo commented on #129
Fixed by PR #143

[2019-09-03 20:19] RobGallo commented on #139
Fixed in PR #144

[2019-09-03 20:21] RobGallo commented on #142
Fixed in PR #144

[2019-09-09 21:23] #142 closed

[2019-09-09 21:23] #129 closed

[2019-09-09 21:23] #139 closed

[2019-09-10 21:20] RobGallo commented on #140
Fixed in #147

[2019-09-19 17:13] #140 closed

[2019-09-19 17:25] karanbirsingh opened #150 "Evaluate applicability of ControlShouldSupportTextPattern to WinForm NumericUpDown controls"
The NumericUpDown control in WinForm does not support TextPattern ([tracking issue](https://github.com/dotnet/winforms/issues/1588)). It consists of a spinner up/down control alongside an edit control showing the selected number.

This issue is to track whether this is a false positive on our end - e.g. should the NumericUpDown control be excluded from the ControlShouldSupportTextPattern check? ~T

[2019-09-20 16:14] DaveTryon opened #152 "[ENG] SystemAbstractionsTests are not running in build loop"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

**Describe the bug**
Tests from SystemAbstractionsTests.dll are not running in the build loop.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the results of a build loop (I tried both PR builds and official builds)
2. Open the test results
3. Search for any of the following unit tes

[2019-09-20 17:19] devaradhanm commented on #152
I will investigate & get back to you.

[2019-09-23 16:55] devaradhanm commented on #152
I didn't spend time investigating. I am able to get the mentioned tests run locally but these are not being run in CI. I have moved this to ready for work.

[2019-09-23 17:19] DaveTryon commented on #152
I believe @RobGallo is looking at this. I'll leave it to him to self-assign if he wishes

[2019-09-23 23:04] ferBonnin commented on #150
@karanbirsingh 3 things:

- the example app seems to allow writing a number in the NumericUpDown control
- how will a user of Speech to text would introduce a number?
- Is it expected to use the up arrow 100 times if you want to write a 100?

[2019-09-23 23:22] karanbirsingh commented on #150
@ferBonnin thanks, I must have tried letters earlier instead of numbers. I'll chat with Rob to get his take as well

[2019-09-25 19:46] ferBonnin commented on #150
@karanbirsingh is this active?

[2019-09-25 20:07] karanbirsingh commented on #150
@ferBonnin yes, I am looking into it with @RobGallo

[2019-10-04 18:22] RobGallo opened #161 "[Feature Request] Add rule to ensure the descendants of off screen elements are also off screen."
### new rule

Based on https://docs.microsoft.com/en-us/dotnet/api/system.windows.automation.automationelement.automationelementinformation.isoffscreen?view=netframework-4.8:

“When the value is true for a container, it is also true for the container element's descendants.”

We should add a rule which validates this policy.

[2019-10-04 18:27] RobGallo opened #162 "[Feature Request] Add rules to ensure that an element's clickable point and IsOffscreen property agree."
### new rule

Based on https://docs.microsoft.com/en-us/dotnet/api/system.windows.automation.automationelement.automationelementinformation.isoffscreen?view=netframework-4.8:

“If the element has a clickable point that can cause it to be focused, it is considered to be onscreen even when a portion of the element is off screen.”

Based on this, there should be two rules:
1. When an element's clicka

[2019-10-09 20:41] karanbirsingh commented on #150
We looked at this in more detail and verified all edit controls should support the text pattern per the UIA documentation here: https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-supporteditcontroltype#required-control-patterns

[2019-10-09 20:41] #150 closed

[2019-10-10 18:08] ferBonnin commented on #162
Reviewed this with PMs and Leads, this looks like a good suggestion, but we need to schedule time to do this feature. @RobGallo is this a 2-day thing or a 2-week thing?

[2019-10-10 18:10] ferBonnin commented on #161
Reviewed this with PMs and Leads, this looks like a good suggestion, but we need to schedule time to do this feature @RobGallo  is this a 2-day thing or a 2-week thing?

[2019-10-10 18:51] ferBonnin opened #164 "[BUG] Document rules and mapping"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

## Describe the bug
In this repo, there isnt a place where the rules and the WCAG/Section 508 mapping are documented

## Expected behavior

A table that says the rule name, description, standard and if its a warning or a failure

[2019-10-10 19:58] RobGallo commented on #162
@ferBonnin, it's more of a two day thing.

[2019-10-10 19:59] RobGallo commented on #161
@ferBonnin, It's more of a two day thing.

[2019-10-10 20:05] ferBonnin commented on #162
@peterdur do we want to take this and the other rule (Also 2 days) as a feature or in slack time?

[2019-10-14 19:12] karanbirsingh opened #165 "[BUG] Change status of LandmarkOneMain to warning"
## Describe the bug

The LandmarkOneMain rule checks if a page has a single main landmark (no more, no less). This maps to best-practice / moderate user impact in a similar rule in axe-core. The intent is that websites shown in browsers or WebViews should have a main landmark to ease navigation. Our rule can pick up a case where a WebView is used in a larger XAML application to show a small portio

[2019-10-15 22:30] DaveTryon commented on #152
Assigned this to myself at Rob's request (and since I'm DRI this week)

[2019-10-17 21:42] DaveTryon commented on #152
This is still on Rob's plate. I picked up the wrong issue

[2019-10-21 20:45] karanbirsingh commented on #165
closing as LandmarkOneMain already is classified as a 'warning' instead of an 'error'. I am unable to reproduce this now, so it's likely I confused an outdated result with a current one when filing the issue

[2019-10-21 20:45] #165 closed

[2019-11-12 20:24] ferBonnin commented on #164
this is resolved now. [Rules description](https://github.com/microsoft/axe-windows/blob/master/docs/RulesDescription.md)

[2019-11-12 23:52] #164 closed

[2019-12-05 15:10] RobGallo opened #239 "[BUG] [false positive] Update ProgressBarRangeValue allowed minimum and maximum values"
## Describe the bug

In the rule ProgressBarRangeValue, the current expected value for minimum is 0 and the current expected value for maximum is 100.

This rule is based on the documentation provided [here](https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-supportprogressbarcontroltype).

Originally, the docs said to have min = 0 and max = 100. But after some conversations about the a

[2019-12-05 17:58] RobGallo opened #240 "[BUG] [false positive] Rule NameIsReasonableLength should not apply to text elements"
## Describe the bug

For the rule NameIsReasonableLength, we have received a false positive report where text elements had names longer than 512 characters. It seems reasonable that text elements, by virtue of their type and purpose, may have names in excess of the 512 character limit. Therefore, we shall remove the character count limit for text elements.

[2019-12-07 00:02] DaveTryon opened #244 "[BUG] Type mismatches are leading to internal Exceptions"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

## Describe the bug

When saving to A11yElement.PlatformProperties, the Window Style and Window Extended Style are added as uints, because that's the return type declared in the P/Invoke wrapper of GetWindowLong. When fetching the values via A11yElement.GetPlatformPropertyValue<int>, we have a

[2019-12-09 15:38] #239 closed

[2019-12-09 15:38] #240 closed

[2019-12-12 16:00] benabbon opened #251 "[General Question] Are UWP apps supported?"
## Are UWP apps supported?

I'd love to test my UWP app, where I have Selenium UITests running on the build pipeline.
When I try to integrate the package, I get this error:
NU1202: Package Axe.Windows 0.3.5-prerelease is not compatible with uap10.0.17763 (UAP,Version=v10.0.17763). Package Axe.Windows 0.3.5-prerelease supports: net471 (.NETFramework,Version=v4.7.1)

[2019-12-12 17:58] RobGallo commented on #251
@benabbon

Is there a way we could reproduce the error locally?

[2019-12-13 10:44] benabbon commented on #251
@RobGallo A fresh UWP app, with a fresh UWP unit test project targeting windows 10.0.17763 created by VS 2019, and then add the axe-windows as nuget to the UWP unit test project.

I'll try to create a repo with this structure today and share it with you.

[2019-12-13 12:26] benabbon commented on #251
@RobGallo No need for a UWP project. Just create an empty UWP Unit test project from Visual studio 2019, and try to add the Axe.Windows nuget package.

[2019-12-17 17:10] guybark opened #263 "UIA HeadingLevel values are reported incorrectly"
**This was transferred from AIWin, but the root cause is in Axe.Windows**

Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
UIA HeadingLevel properties are not reported in the most helpful way to AIWin users.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Windows Settings app System Sou

[2019-12-17 17:27] guybark opened #265 "[BUG] UIA StyleId property values are always reported as "Unknown""
**This was reported against AIWin, but the root cause is in Axe.Windows**

Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
UIA StyleId properties are not reported in the most helpful way to AIWin users.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Microsoft web page with semantic headi

[2019-12-17 18:23] RobGallo commented on #251
UWP XAML apps run in App Containers. The UIA client API, which Axe.Windows uses to get accessible states and properties, cannot be called from App Containers. So, unfortunately, you will not be able to call Axe.Windows from your UWP unit test app.
However, Axe.Windows will work from a .Net Framework unit test project.

[2019-12-17 18:23] #251 closed

[2019-12-23 18:02] benabbon commented on #251
Can you provide some examples on how to do that?
I followed your instructions, created a .Net unit test project. Added Axe.windows (0.3.5-prerelease), Appium.WebDriver (4.1.1), and MSTest.TestFramework (2.0.0).
I'm able to launch the app, but the analyze() fails directly with this error:
`        OpenQA.Selenium.WebDriverException: Unexpected error. Command not implemented: POST: /session/39D59AA2

[2019-12-23 18:24] benabbon commented on #251
For the process issue, I managed to solve it, it was due to debug breakpoints changing the active window. The scan results are completely empty though, no output file while I used the A11yTest one.
Also, how do you suggest navigating in my app and do a fast pass on all my pages with the proposed readme way?

[2019-12-23 18:27] benabbon commented on #251
Got it, I'll use the selenium application on the side, and have the fast pass as a test finalized. I'll give it a try and update the issue if it works as expected.

[2019-12-24 18:23] benabbon opened #257 "[General Question] Are SARIF outputs still supported?"
## Are SARIF outputs still supported?

I'd like to know if there is away to generate SARIF files on failure along with a11ytest files. The entry is present in scan result output, but doesn't look like it gets populated.

If not, do you know a way to craft SARIF files from a11yTest ones?

I'd like to leverage a devops task that uploads SARIF files directly to the Accessibility tab for a better view

[2019-12-26 23:46] AhmedAbdoOrtiga commented on #257
We don't support Sarif, and I don't think we have a way to convert a11yTest to Sarif.
I'm not sure also if we have a plan for that, but you always can submit a feature request and the team will will discuss it.

[2019-12-27 11:38] benabbon commented on #257
Thanks for the info @AhmedAbdoOrtiga . I'll close the issue now and open a feature request if there is no way around it.

[2019-12-27 11:38] #257 closed

[2020-01-06 21:51] DaveTryon commented on #244
This was fixed in commit https://github.com/microsoft/axe-windows/commit/c4c2fdd88fb040020f62c119093e13128a5443ff but I forgot to close the issue

[2020-01-06 21:51] #244 closed

[2020-01-06 21:57] DaveTryon commented on #263
Root problem here is a bug in the code that assigns human-readable names to heading levels.

[2020-01-07 18:01] DaveTryon commented on #265
AIWin changes (requiring updated Axe.Windows) are at https://github.com/DaveTryon/accessibility-insights-windows/tree/DisplayStyleIdCorrectly

[2020-01-07 20:58] DaveTryon commented on #265
The Axe.Windows fix is in place. The AIWin change will be added after we pick up the updated version of Axe.Windows (https://github.com/microsoft/accessibility-insights-windows/issues/682)

[2020-01-07 20:58] DaveTryon commented on #265
I guess Guy should be the one closing this out

[2020-01-07 21:01] DaveTryon commented on #263
I guess Guy should be the one to close this out (even though it won't show in in AIWin until we pick up a newer version of Axe.Windows).

[2020-01-13 18:45] ferBonnin commented on #265
@DaveTryon is there a way for Guy to verify this changes or do we need to wait for a release?

[2020-01-14 18:37] #152 closed

[2020-01-15 19:23] DaveTryon commented on #265
@ferBonnin, @guybark, this will require an update to AIWin, which isn't slated to occur until we complete the changes to support .NET Core systems

[2020-01-22 00:51] jalkire opened #283 "[BUG] axe-windows not reporting UIA Patterns for some elements"
## Describe the bug
AI-Win fails to report patterns for certain elements for which Inspect shows patterns. The problem probably resides in axe-windows, not AI-Win.

**To Reproduce**
Steps to reproduce the behavior:

1. Open "Edit local users and groups"
2. Invoke the "Users" row in the center list
3. Point AI-Win (run it as admin) at any of the cells in the "Name" row
4. Observe that there are no

[2020-01-24 18:25] RobGallo opened #284 "[TASK] Re-enable intermittently failing unit tests"
## Describe the bug

After the projects in axe-windows were converted to .Net Core, we had to disable some unit tests which were failing intermittently, and some that were failing because dependent assemblies couldn't be loaded.

The intermittent failure is in Axe.Windows.AutomationTests.AutomationIntegrationTests.Scan_Integration_Win32ControlSampler.

The tests failing due to missing dependency a

[2020-01-24 19:00] RobGallo opened #285 "[TASK] Add .Net Framework tests in addition to .Net Core tests"
## Describe the bug

Now that we've converted axe-windows to .Net Standard, the unit test projects have all been converted to .Net Core. However, we should be able to build the test projects as .Net Core and .Net Framework simultaneously. This task is a reminder to investigate and, if possible, do that.

[2020-02-13 00:47] smoralesd opened #320 "[BUG] AI-Win not properly reporting text pattern on Win32 updown control"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Win32 window app from the regular template in VS.
2. Replace the About dlg with the following:
[code]
3. Run the app and move keyboard focus to the edit area where the current updown value is shown.
4. Use AI-Win to inspect the updown control
5. Observe: AI-Wi

[2020-02-13 17:23] DaveTryon commented on #265
@guybark, the fix for this is in our latest Canary build: https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1138.01. Please regress and close when you get a chance. Thanks!

[2020-02-13 17:24] DaveTryon commented on #263
@guybark, the fix for this is in our latest Canary build of AIWin: https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1138.01. Please regress and close when you get a chance. Thanks!

[2020-03-03 20:16] adarshrema commented on #263
Hello @guybark, closing this as resolved. Please reopen if it regresses.

[2020-03-03 20:16] #263 closed

[2020-03-03 20:17] adarshrema commented on #265
Hello @guybark, closing this as resolved. Please reopen if it regresses.

[2020-03-03 20:17] #265 closed

[2020-03-09 20:32] RobGallo opened #322 "[BUG] “An element's BoundingRectangle must not obscure its container element” should exclude dialogs"
## Description

For the rule “An element's BoundingRectangle must not obscure its container," we should make an exception for element's with the type of "Pane" and with the "IsDialog" property set to true.

The rule already contains an exemption for elements of type "Window" because windows may obscure their container elements. The same reasoning applies to dialog boxes because they too may obscur

[2020-03-12 15:47] jalkire commented on #283
Handing off to the expert @RobGallo

[2020-03-12 22:05] RobGallo commented on #162
This issue was fixed and released in axe-windows version 0.9.0.

[2020-03-12 22:05] #162 closed

[2020-03-12 22:09] RobGallo commented on #320
This bug was resolved by PR #321

[2020-03-12 22:10] RobGallo commented on #283
This issue had the same root cause as issue #320 , which was resolved by PR #321 .

[2020-03-23 17:44] RobGallo commented on #322
Fixed in 0.9.1.

[2020-03-23 17:44] #322 closed

[2020-03-23 17:45] RobGallo commented on #320
Fixed in 0.9.1.

[2020-03-23 17:45] #320 closed

[2020-03-23 17:47] RobGallo commented on #283
Fixed in 0.9.1.

[2020-03-23 17:47] #283 closed

[2020-03-23 17:48] RobGallo commented on #161
Fixed in 0.9.1.

[2020-03-23 17:48] #161 closed

[2020-03-24 17:21] RobGallo opened #330 "[BUG] False positive for "The Name must not include the same text as the LocalizedControlType.""
## Issue

There are instances where the rule which detects control type strings within Name property strings may incorrectly return an error. For example, on a site for a taylor making a suit jacket, there could be and "_add a button_" button. In this case, the occurrence of the word "_button_" in the name is correct because it is not referring to the control type.

## Current state

We are keepin

[2020-03-25 17:31] DaveTryon opened #335 "[ENG] Warning NU5128 in builds"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

## Describe the bug

Starting with commit https://github.com/Microsoft/axe-windows/commit/17c13192b041b454ba1ec7aaee96e696a49cc35a, we're getting the following warning during [PR builds](https://dev.azure.com/accessibility-insights/axe-windows/_build/results?buildId=7040&view=logs&j=8d802004-fb

[2020-03-26 15:17] #335 closed

[2020-03-26 18:23] RobGallo opened #338 "[eng] authenticode sign assemblies"
We need to add authenticode signing to the assemblies provided in the NuGet package. The requirement is that we use a certificate compatible with the open source nature of the package.

[2020-04-10 20:31] lennyomg opened #352 "[BUG] False-negative result for the rule "An element's IsOffScreen property must be false when its clickable point is on screen.""
## Issue

False-negative result for the rule "An element's IsOffScreen property must be false when its clickable point is on screen."

Using WPF .NET 4.6.1 all hidden controls have false-negative results regarding IsOffscreen==True and ClickablePoint. It happens because, in spite of the fact that WPF returns IsOffScreen==True, it also returns some value for ClickablePoint.

According to [MSDN](htt

[2020-04-13 21:15] RobGallo commented on #352
@lennyomg

Thanks for filing this bug. We agree this is a false positive because it is possible for a UIA element to have a valid ClickablePoint property and yet not be visible on screen.

[2020-04-23 04:02] dominoFire commented on #352
How those changes are reflected in Accessibility Insights for Windows (AI)? I have a similar issue, but with a custom, always-collapsed TextBlock control. Also, I can confirm that a collapsed button is not flagged by AI.

Relevant code:

[code]

Screenshot

![image](https://user-images.githubusercontent.com/1192347/80055942-d5525800-84d7-11ea-923b-ecfceb6e3c1a.png)

LiveTest:

![image](https://use

[2020-04-23 14:22] RobGallo commented on #352
@dominoFire
After the fix, the rule will not be run on elements which are not focusable.

This fix has not yet made it into AI-Win. Once the next version of axe-windows is released, the fix will be brought into the canary version of AI-Win. We will release a new version of axe-windows soon. Thanks for your patience.

[2020-04-23 21:59] lennyomg opened #357 "[BUG] Possible false-negative result for the rule "Children of off-screen element's must also be off-screen""
## Issue

Possible false-negative result for the rule "Children of off-screen element's must also be off-screen"

Accessibility Insights show the error mentioned above for a WPF app which has a list box with complex elements and some of the elements are scrolled to outside the visible area. It happens because the ListBox/ListView control marks top-level elements `IsOffscreen = true`, but don't do

[2020-04-28 21:48] DaveTryon commented on #352
@dominoFire, this fix is now available in the Canary channel of AIWin. Please use the settings page to change to the Canary channel and regress. Marking as resolved on our end.

[2020-05-04 18:30] dominoFire commented on #352
Thank you! I've verified that my collapsed textbox is not flagged in the 1.1.1214.1 build

[2020-05-06 13:49] #352 closed

[2020-05-07 18:50] RobGallo commented on #357
We agree this is a false positive. The rule is removed in PR #369.

[2020-05-07 20:18] #357 closed

[2020-05-13 07:05] luvukr opened #370 "[General Question]"
## AutomationId is unavailable.

**HierarchyNodeViewModel.cs** Line No:- 277
[code]

Why is automationId unavailable at this point. I tried it for those elements which do have automationId. Is it on purpose?. If yes, Can you let you know at which point AutomationIds get set for the elemnet. I am trying to get `AutomationElement` equivalent of `A11yElement`.

[2020-05-14 16:52] DaveTryon commented on #370
Hi, @luvukr! Your code snippet is from the accessibility-insights-windows repo, not the axe-windows repo, but I'll go ahead and try to answer it here anyway.

Fetching UIAutomation properties requires inter-process communication (IPC), which makes it expensive. The [A11yElement](https://github.com/microsoft/axe-windows/blob/master/src/Core/Bases/A11yElement.cs) object is initially created with jus

[2020-05-15 07:00] luvukr commented on #370
Thanks @DaveTryon. I have a bit of an idea now with this explanation.

[2020-05-15 07:00] #370 closed

[2020-06-04 10:27] luvukr opened #379 "Accessing Apps like electron"
## Your question here
How does `A11yAutomation.GetUIAutomationObject().PollForPotentialSupportedPatterns()` and `                A11yAutomation.GetUIAutomationObject().PollForPotentialSupportedProperties()` poll internally?

My use case is to inspect elements from an electron app. Using **Accessibility insight for window** tool, I can see the props in real-time but I want to understand that when a

[2020-06-04 21:22] pownkel commented on #379
Hi Sumit, thank you for your interest in Accessibility Insights! For Electron applications, recent versions of Windows 10 (1903 and later) convert the IAccessible2 data provided by Chromium into UI Automation data, which is what axe-windows uses to inspect elements.

However, keep in mind that Electron are Web based frameworks, so using Web accessibility standards and rules will provide more actio

[2020-06-16 03:56] luvukr commented on #379
Sorry for the delayed reply @RobGallo @pownkel I used both of your suggestion and it worked. Thanks a lot to you both. But there is a glitch sometimes, It doesn't broadcast the elements just the native window of the app(teams) but all of a sudden It will start giving the hierarchy. I am unable to find out the root cause of the issue of why sometimes it does not give up the hierarchy.

[2020-06-18 13:43] RobGallo commented on #379
@luvukr
Axe.Windows is not intented to be used to analyze Electron-based apps; so the situation you've described is not one we've investigated. You can inspect the issue using the code in this repo. Let us know if there's something we could improve. Or even better, you could submit a pull request to the repo. Thanks, Rob

[2020-06-18 13:44] #379 closed

[2020-06-21 13:49] giladnoy opened #387 "[BUG] False-positive test result for "An onscreen element must not have a null BoundingRectangle property"."
## Description

We want to implement a scrollable list in our app, which has complex items (e.g. a group containing a list).
When one of the complex items is scrolled out of visible part of the app, and the Accessibility Insights tool test is being run, the inner component of the complex list item is falsely considered as having the property "IsOffScreen" set to true, although its parent does have

[2020-06-22 15:29] RobGallo commented on #387
Hi, @giladnoy
Thanks for the detailed bug report! Would you mind sending us an a11ytest file? You can generate this by reproducing the problem (running the scan) in AI-Win, then choosing the "save" button at the top of the screen. That would help us to analyze the issue. You can attach the file to a comment in this GH issue. Thanks!

[2020-06-22 16:57] giladnoy commented on #387
Yeah, sure:)
[TestResults Windows BT devices 06-21-20.zip](https://github.com/microsoft/axe-windows/files/4814546/TestResults.Windows.BT.devices.06-21-20.zip)

[2020-06-22 18:16] RobGallo commented on #387
Thanks. Looking in to this.

[2020-06-26 14:58] RobGallo commented on #387
We believe this issue is not a false positive because the data should either reflect that the list is off screen and therefore the bounding rectangle may be null, or that the list is on screen and the bounding rectangle must be provided.

@giladnoy , This is a [known bug in xaml](https://github.com/microsoft/microsoft-ui-xaml/issues/1979) which you can reference for accessibility reporting purpose

[2020-06-26 14:58] #387 closed

[2020-06-28 07:26] giladnoy commented on #387
@RobGallo If we were discussing this element by itself, I would completely agree.
However, according to MS documentation regarding **IsOffScreen** property (https://docs.microsoft.com/en-us/dotnet/api/system.windows.automation.automationelement.automationelementinformation.isoffscreen?view=netcore-3.1):

Doesn't that mean that if the **IsOffScreen** property of some element is true, we can safely

[2020-06-29 14:44] RobGallo commented on #387
@giladnoy ,
I agree the language there is confusing. But we think that text is targetted toward the app developer, not the assistive technology developer. So we take the meaning of the paragraph you quoted to be when an element's isOffScreen property is set to true, all of the descendants of that element should also have their isOffScreen property set to true. We even had a rule to enforce the str

[2020-07-09 20:15] #285 closed

[2020-07-17 18:40] karanbirsingh opened #402 "[BUG] BoundingRectangleNotNull fails to properly exclude System menu bars if the text is non-English"
## Describe the bug

We exclude certain menubars/items from the BoundingRectangleNotNull check [here](https://github.com/microsoft/axe-windows/blob/f2adece0a4ed0c1c68358fdbcec6f3a620b255b4/src/Rules/Library/BoundingRectangleNotNull.cs#L30).

In a non-English application, the automation name is localized so the 'System' string check doesn't work. We should consider solely relying on the automation

[2020-07-22 18:54] peterdur commented on #338
This work was done in #392 and related PRs.

[2020-07-22 18:54] #338 closed

[2020-07-22 20:05] ferBonnin commented on #402
@RobGallo marking this as resolved, reopening and assigning to Karan to review and close

[2020-08-01 18:18] guybark opened #417 "AIWin unexpectedly reports failures with WPF DataGrid's which contain cells with text duplicated between cells"
Create a new WPF app using .NET Framework 4.8, and add a DataGrid to it. Give the column headers unique names, and populate the cells with some text which is duplicated between cells. Or just grab the demo app I built at https://account79.visualstudio.com/WPFDataGridDuplicateCellNames.

Run the app and point AIWin to the DataGrid.

Result: AIWin reports a failure relating to cells having duplicate

[2020-08-03 18:57] karanbirsingh commented on #417
@guybark Thanks for filing the issue - I wasn't able to download the demo app due to permission issues. Do you mind either modifying the permissions, or uploading the a11y test file to this issue? You may need to rename it to a zip file if you upload to GitHub.

[2020-08-03 19:40] #402 closed

[2020-08-07 01:12] guybark commented on #417
Sorry for the delay in sorting this out. How about this, [WPFDataGridDuplicateCellNames](https://github.com/guybark/WPFDataGridDuplicateCellNames).

[2020-08-10 20:17] RobGallo commented on #417
Addressed in PR #421

[2020-08-17 20:42] adarshrema commented on #417
In queue to be picked up in the next Axe.Windoes and Accessibility Insights for Windows releases.

[2020-08-25 19:54] decriptor opened #431 "[Feature Request] Allow scans to start at an element other than the root element"
## Is your feature request related to a problem? Please describe.
We are looking at using axe-windows for our extension inside of Visual Studio. We'd like to run it as part of our CI pipeline so that we can pre-emptive catch any accessibility issues or at least reduce the chances of shipping something with accessibility issues. The problem is we would like to only run the check on our extension an

[2020-08-27 20:09] guybark opened #432 "[BUG] AIWin reports an unexpected failure on a short WPF separator"
## Describe the bug

A product shows a short vertical separator, and AIWin reports its bounding rectangle as being too small.

**To Reproduce**
1. Create a new WPF app targeting .NET Framework 4.8.
2. Add a very short short separator.
3. Run AIWin FastPass against the app.

## Expected behavior

AIWin reports that there are no failures in the programmatic representation of the separator.

## Actua

[2020-08-31 17:39] DaveTryon commented on #417
Hi, @guybark! This has been released to production at https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1334.02. Please regress as your convenience. Thanks!

[2020-09-01 17:05] guybark commented on #417
I've verified the failure is no longer reported in my test app with the duplicated DataGrid cell text, using AIWin 1.1.1334.2. Thanks for making the change.

[2020-09-01 17:38] #417 closed

[2020-09-11 18:41] ferBonnin commented on #330
making a note of a new report of this issue with a button named "Button / Key"

[2020-09-12 03:00] #431 closed

[2020-09-15 19:27] DaveTryon commented on #432
This has been merged into AIWin and will appear in the next Canary build. I'll resolve it once the build has been published.

[2020-09-16 15:10] DaveTryon commented on #432
@guybark, this change has been included in the Canary release of AIWin at https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1354.01. Please regress and close out when you can. Thanks!

[2020-09-23 00:25] decriptor commented on #431
@adarshrema Sorry for the delay in responding. We are testing a part of our UI within our Visual Studio extension. In this case I'm interested in anything within a particular pane. What I've done so far is to find the name of that pane and grab any errors that have that pane "Name" as a parent element in the hierarchy. Here is what I have currently:

The pane `Name` is "activity_main.xml".
Here is

[2020-09-28 21:48] karanbirsingh opened #441 "Add how-to-fix info for 'custom' DataGridCell behavior in old .NET Framework versions"
This issue tracks adding more actionable guidance for the DataGridCell issue in https://github.com/microsoft/accessibility-insights-windows/issues/931.

It was fixed by directing the user to either update to .NET 4.7.1 or to use accessibility switches. This DataGridCell issue (alongside some other updates) was explicitly called out in the .NET 'What's new in accessibility' [documentation here](htt

[2020-09-29 19:30] guybark commented on #432
Verified as fixed with AIWin 1.1.1360.1. Thanks for addressing this!

[2020-09-29 19:30] #432 closed

[2020-10-25 09:03] chingucoding opened #449 "[General Question] Are there plans to support individual element testing?"
## Are there plans to support individual element testing?

When designing and writing new controls, would greatly benefit from an easier accessibility testing. However from what I can tell, axe-windows only supports scanning complete processes. But when writing unit tests, it would be great to be able to scan an individual control using axe-windows instead of having to embed it into an app and sca

[2020-10-26 15:40] DaveTryon commented on #449
Hi, @chingucoding! We've discussed potential ways to use Axe.Windows to scan a subset of the UI Automation tree, but the sticking point has been how to specify where the scan should begin. There are a few potential solutions, but each one is very usage-specific. If you don't mind, here are a few questions that might help us figure out how feasible it would be to support this in _your_ scenario:

1

[2020-10-26 16:12] chingucoding commented on #449
I just noticed that there actually are two ways to interpret my issue. My initial idea was to have code behind testing, i.e. that I can pass actual WPF/UWP/WinUI elements to the scanner and have them scanned for accessibility issues. However that would require a lot of work and take some time, especially since this would be a huge difference to how axe-windows works now.
The reason why I would lik

[2020-10-26 17:10] DaveTryon commented on #449
Thanks for the extra input, @chingucoding! The code-behind testing is an interesting idea, but since Axe.Windows requires UI Automation, the actual implementation would probably be for Axe.Windows to have a platform-specific dummy app that hosts the control, then scans it. There's some upside there, but of course it also brings all of the complexity/reliability issues of creating the app, starting

[2020-10-26 18:01] chingucoding commented on #449
Another option how to do the code behind testing would be to provide an abstraction layer for specific UI frameworks such as UWP or WinUI 3 that maps from the controls or rather AutomationPeers to the internal A11Y objects that are used to validate controls. However that is no easy task and would probably require a lot of work.

Having a native app to start and place the control seems like a reaso

[2020-10-26 21:49] DaveTryon commented on #449
@chingucoding, we're in full agreement. The unit test approach is a lot of work and is out of scope for our current plans. That said, it's something that others could do if they wanted to create an app to host the control and call into Axe.Windows--and in that case there's really no need to scope to anything smaller than the app, provided that the host app passes all Axe.Windows checks.

For the C

[2020-10-26 21:54] chingucoding commented on #449
Great, thanks! If there is anything I else can do, I am happy to help.

[2020-10-30 18:56] DaveTryon commented on #449
Hi, @chingucoding! We discussed this today, and we love the idea of having a unit test library that would allow control authors to quickly and easily test their controls as part of their unit tests. As we discussed, that library would be doing a lot behind the scenes:
- Create a tiny app that allows the control to be hosted
- Start the app
- Run Axe.Windows against the app
- Capture the results

A

[2020-10-30 18:56] #449 closed

[2020-10-30 19:06] chingucoding commented on #449
Thanks for the update @DaveTryon ! I will definitely try to get something like this working just out of curiosity. If it seems feasible to use and works reliable enough, I'll create a PR and we can see where we go from there.

[2020-11-03 21:57] chingucoding commented on #449
After a couple of hours, I found a big problem for my use case: Axe.Windows can not be used from inside the UWP container making unit testing UWP controls impossible since creating them has to be done inside UWP. So writing the test should be done inside the UWP app or would be very inconvenient. The advantage of the UWP test project is that it always has a window and we could have used that inste

[2020-11-03 22:02] chingucoding opened #460 "[bug] Exception being thrown while creating a scanner using default parameters inside a UWP app"
## Is your feature request related to a problem? Please describe.

Not really a feature, but writing test results does take some time. Usually it doesn't really make a difference, but if there are hundreds of test runs, this might make a difference.
## Describe the solution you'd like

This is where it becomes a bit difficult. Currently an empty path is being replaced with a default path, setting

[2020-11-04 18:29] DaveTryon commented on #449
@chingucoding, Ah, UWP sandboxing! That's something that I really hadn't thought about, but it makes sense in the broader context. It also brings up an interesting point, which is that a unit test library like we're discussing here would probably be best in a separate repository that consumes Axe.Windows via its NuGet package. That would allow the Axe.Windows repo to focus on accessibility tasks,

[2020-11-04 18:55] DaveTryon commented on #460
Good news, @chingucoding! This feature already exists. All you need to do is build the config file without ever specifying an output type or output directory. This will tell the scanner to bypass creating the disk file and return results only via the ScanResults object returned from IScanner.Scan();

If you refer to [AutomationReference.md](https://github.com/microsoft/axe-windows/blob/9610092732f

[2020-11-04 19:11] chingucoding commented on #460
You would think that that is the case, funnily, it is not. If you paste the following in a UWP project (yes, UWP as the sandbox will crash us since we write where we shouldn't), you will notice that the stack get's pretty deep.

[code]

A lot of the code related to file writing despite file option set to none. Of course this is almost nothing performance wise since IPC is the main bottle neck, but

[2020-11-04 19:28] chingucoding commented on #449
Yes, I agree with you, I think it makes sense to have that as a separate library with dependency on Axe.Windows. For WPF and other Win32 UI libraries, I think we can do something easy for testing (create UI objects, pass to library and scan them).

I was envisioning something like this:

[code]

For UWP, I see an issue. Where should the code creating the UI objects? For UWP controls, they need to

[2020-11-05 00:29] DaveTryon commented on #460
Interesting! We were looking at the code that runs during the call to IScanner.Scan(), but this is throwing before we get that far. This is throwing while we're still creating the scanner:

[code]

The problem occurs in https://github.com/microsoft/axe-windows/blob/master/src/Automation/OutputFileHelper.cs#L45, where we ensure that the output folder exists, which isn't necessary if we're not produ

[2020-11-05 08:51] chingucoding commented on #460
Thanks for the update!

Sure, I will create a PR for this soon! I will probably use a different solution to also not break when scanning then.

[2020-11-05 16:52] RobGallo commented on #460
I have created PR #462  to address the issue. The fix is a little different: it moves the exception into a place where it will still be thrown, but only if output files are requested.

[2020-11-05 16:55] chingucoding commented on #460
@RobGallo how would this play with #461? One of us probably has to do merge after one of the PRs gets merged into master, right?

[2020-11-06 15:27] #460 closed

[2020-11-06 21:11] chingucoding opened #463 "[Feature request] Test Axe.Windows scanning against a UWP app and if so how?"
## Test Axe.Windows scanning against a UWP app and if so how?
Continuing conversation from #460

There are few different ways how that could be achieved. The key issue is that a UWP app needs installation. The possibilities are:
- Sideload app and try to clean up after tests
  - If something goes wrong, the machine can be left in a bad state
- Have the test run be optional, if it finds the app it

[2020-11-11 18:47] adarshrema commented on #463
@chingucoding, thank you for your continued interest and for this feature request. Given our current priorities unfortunately this is not something we will be able to take on now. However, if you are interested in contributing, please let us know when you have a sample working and we will be happy to link to it from the repo.

[2020-11-11 19:01] chingucoding commented on #463
If I find the time and get something running and working, I'll post a comment here, however I can't promise anything.

[2020-11-17 07:21] adarshrema opened #471 "[BUG] “The Name must not include the same text as the LocalizedControlType” error while using password input control in 'Old Edge' in a Windows app"
Password input control in Old/ Classic Microsoft Edge (framework id: MicrosoftEdge) hosted in a Windows Universal App fails “The Name must not include the same text as the LocalizedControlType” rule.

## Actual behavior
When the password input control from Old Edge is hosted in a Windows Universal App, the word 'password' is repeated in Name and LocalizedControlType resulting in violation of “The

[2020-11-19 00:00] #463 closed

[2020-12-03 19:33] adarshrema commented on #471
Extending this to Email control in Old Edge as well as the same issue is encountered in that scenario. Fix:
If the framework is “MicrosoftEdge”, if the control type is Edit, and if the LocalizedControlType is password or email, the rule that tests to make sure that the Name and LocalizedControlType to be different will not be checked.

[2020-12-08 18:31] chingucoding commented on #471
Is it fine if I work on this issue?

[2020-12-08 23:26] RobGallo commented on #441
Addressed in PR #478

[2020-12-10 23:17] chingucoding commented on #471
@RobGallo Didn't #480 address this exact issue and thus, this issue can be closed?

[2020-12-11 15:36] RobGallo commented on #471
@chingucoding
Yes it did. Our practice is to mark bugs as resolved, which I forgot to do yesterday, until they are included in an actual release, at which time we close them. Thanks!

[2020-12-11 15:37] chingucoding commented on #471
Ah okay, thanks for the explanation.

[2020-12-11 17:29] SGDeveloperAcct opened #481 "[General Question]"
Facing memory leak issue when capturing data using test mode
Code used:
CaptureAction.SetTestModeDataContext(ecId.Value, DataContextMode.Test, TreeViewMode.Control, true);

When above code is used to capture data for large web pages memory gets piled up and not released even when Release Data Context is called.

One point machine gets hanged up.

[2020-12-11 17:32] SGDeveloperAcct commented on #481
Facing memory leak issue when capturing data using test mode
**Code used:
            CaptureAction.SetTestModeDataContext(ecId.Value, DataContextMode.Test, TreeViewMode.Control, true);**

When above code is used to capture data for large web pages memory gets piled up and not released even when Release Data Context is called.

One point machine gets hanged up.

[2020-12-11 20:07] lisli1 commented on #481
Thanks for your question. Could you please answer the following questions so we can better understand the issue?

1. Are you using the supported API when this happens? You can find the supported API documented here: https://github.com/microsoft/axe-windows/blob/master/docs/AutomationReference.md. Any interfaces and classes that are not described in that document are unsupported and subject to brea

[2020-12-12 14:51] SGDeveloperAcct commented on #481
1) I've created a windows forms application which will get list of controls on the selected application. Code hooked to button click as follows
            var sa = SelectAction.GetDefaultInstance();
            sa.Select();
            Guid? ecId = sa.GetSelectedElementContextId();
            var ec = GetDataAction.GetElementContext(sa.GetSelectedElementContextId().Value);

            CaptureAc

[2020-12-14 21:26] RobGallo commented on #481
@SGDeveloperAcct
I'm afraid we don't support the interfaces you're using. They are not intended to be used outside the context of Accessibility Insights for Windows.
However, To address your issue, you will need to make sure you manage the objects you create with great care, calling Dispose whenever you are done with an object. My suspicion  is right now you have some axe-windows objects you aren'

[2020-12-14 21:29] #481 closed

[2020-12-15 12:22] SGDeveloperAcct commented on #481
@RobGallo We are building a small Internal too similar to accessibility insights for testing for which we used this as a reference. Any chance that this method might be removed later?

[2020-12-15 15:53] RobGallo commented on #481
@SGDeveloperAcct
We have no plans right now to remove it. But because it is not part of the supported API, we cannot guarantee it won't be changed sometime.
May I ask why you're creating your own tool rather than using either axe-windows or Accessibility Insights for Windows? Perhaps if we understood your need, it might be something we would want to add to Accessibility Insights. That way, everyon

[2020-12-16 16:04] RobGallo opened #483 "[BUG] Control should not support table pattern error on SysListView32"
## Describe the bug

The table pattern is implemented on Win32 list views (class "SysListView32"), but the user has no way to remove it and the platform is no longer supported.

**To Reproduce**
Steps to reproduce the behavior:

Occurs for the CList class when building an app using MFC. We don't have a specific example since the problem was discovered using an a11ytest file and the app being teste

[2020-12-17 19:32] adarshrema opened #485 "[BUG] Error in a control in an app built with MFC when its name property contains 'Microsoft.' or 'Windows.'"
Steps to reproduce the behavior:
This was reported for an in-house app built using MFC by a third-party OEM. The problem was reported using an a11ytest file.
When the Name property of a Control contains 'Microsoft.' Or 'Windows.', “The Name property must not contain its class name”. error is thrown.
This is a valid use of these proper nouns in the name of a package that ships with the third-party

[2020-12-18 23:16] DaveTryon commented on #485
@adarshrema, the key issue here is the content of the control. In this specific scenario, the rule does not apply. As explained in email, I don't think any code changes are necessary other than the rule description change that occurred in #486

[2020-12-21 22:09] adarshrema commented on #485
Keeping this open to confirm if the issue would be addressed by changes in #[486](https://github.com/microsoft/axe-windows/pull/486) or if additional work is needed to exclude applicability of the rule based on framework of the app being tested.

[2020-12-24 08:34] xWSWx opened #487 "[BUG] Big Memory Leak"
## Describe the bug

Axe.Windows.Actions.SelectAction has memory leak

**To Reproduce**
Steps to reproduce the behavior:

1. Create new project by VS
2. Install Axe.Windows nuget package v1.0.4
3. Write little code (WPF for example)

![image](https://user-images.githubusercontent.com/29701338/103075174-ac054100-45fd-11eb-98c5-7967dfcce71d.png)

4. Run
5. Wait for 3 hours

## Expected behavior

use

[2020-12-31 20:28] karanbirsingh commented on #487
@xWSWx thanks for the interest in the library! Sorry for the delay.

Several of the classes in Axe.Windows (like `SelectAction`) include unmanaged resources and implement the [`IDisposable` pattern](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/using-objects); explicit action to release resources (via `using`, `Dispose()`, explicit `SelectAction.Clear...()`, etc) can help. Ro

[2021-01-01 09:10] xWSWx commented on #487
Thank you! I need a few days of time (it's a holiday week in my country now). I will definitely give you feedback after

[2021-01-04 22:37] adarshrema commented on #485
Fix: Do not run the “The Name property must not contain its class name” rule in the Win32 Framework.

[2021-01-06 15:17] #485 closed

[2021-01-07 17:02] DaveTryon commented on #441
@karanbirsingh, this is in the build at https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1467.01. Please validate & close at your convenience 😃

[2021-01-07 17:04] DaveTryon commented on #471
@adarshrema, this is fixed in the latest Canary bits (https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1467.01). Please validate/close at your convenience. Thanks!

[2021-01-07 17:09] DaveTryon commented on #483
@RobGallo, this is fixed in the current Canary build: https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1467.01. Please validate and close at your convenience. Thanks!

[2021-01-07 17:47] RobGallo commented on #483
Fixed in PR #484

[2021-01-07 17:47] #483 closed

[2021-01-12 00:00] #487 closed

[2021-01-13 18:14] #441 closed

[2021-01-20 02:25] adarshrema commented on #471
Validated in canary.

[2021-01-20 02:25] #471 closed

[2021-02-23 13:06] sachin-agarwal-by opened #541 "An element's IsOffScreen property must be false when its clickable point is on screen"
According to MSDN:

If the element has a clickable point that can cause it to be focused, it is considered to be onscreen even when a portion of the element is off screen.

The main thing in the statement above is "that can cause it to be focused". But there is no way how an element can be focused if it is hidden. So, I see an incorrect implementation of this rule.

[code]

In above code when the

[2021-03-01 18:45] chingucoding opened #526 "[General Question] Average/approximate release schedule"
## What is the aimed/average/approximate release schedule for Axe.Windows?

I am working on intergrating Axe.Windows into the WinUI test suite (https://github.com/microsoft/microsoft-ui-xaml/pull/3764) and encountered issue due to the different way of handling dependencies (self hosted instead of NuGet). That left me wondering how often Axe.Windows gets a new release and how often this dependency

[2021-03-01 21:29] lisli1 commented on #526
@chingucoding, we don't have a regular release schedule. We tend to release new versions when rules are changed or bugs fixed.

I will close this issue per your suggestion but feel free to reopen it if you have follow-up questions.

[2021-03-01 21:29] #526 closed

[2021-03-01 22:01] chingucoding commented on #526
Thanks for the answer @lisl1, nothing else to add/ask from my side.

[2021-03-11 01:16] dbjorge opened #533 "[BUG] ClickablePointOffScreen sometimes fails with RuleExecutionError"
## Describe the bug

An internal customer reported an issue where they were seeing a failure of the ClickablePointOffScreen rule ("An element's IsOffScreen property must be true when its clickable point is off screen.") which was confusing them.

They shared an a11ytest file and the element being reported *does* have a clickable point which is within the bounds of the desktop, so the rule shouldn'

[2021-03-11 20:31] RobGallo opened #534 "[BUG] False positive for An element's IsOffScreen property must be false when its clickable point is on screen in WPF list."
## Describe the bug

This bug report is not actually a false positive. It is a true positive, but one which application developers (as opposed to framework developers) are unlikely to be able to fix.

We have a report of a .Net Framework WPF application with a scrollable list box with some list items which are not visible but which still have valid clickable points within the screen rectangle of t

[2021-03-11 20:31] RobGallo opened #539 "[BUG] False positive for An element's IsOffScreen property must be false when its clickable point is on screen in WPF list."
## Describe the bug

This bug report is not actually a false positive. It is a true positive, but one which application developers (as opposed to framework developers) are unlikely to be able to fix.

We have a report of a .Net Framework WPF application with a scrollable list box with some list items which are not visible but which still have valid clickable points within the screen rectangle of t

[2021-03-12 05:50] cjw1115 opened #540 "[BUG] ComboBox "An element's BoundingRectangle must not obscure its container element""
**Describe the bug**
A right aligned ComboBox can not pass the insights tool test when it is open. But for the left aligned, it has no such issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a empty UWP project
2. Add a ComboBox with original style in main page, and put it in right of page.
3. Launch accessibility insights tool, and.
4. Open the ComboxBox and make the drop down li

[2021-03-12 14:08] Leslie1Yang commented on #534
May I know if this issue is the same as issue 352?
From issue 352, it seems that this issue has been solved, but we still encounter this problem.
Also, I provide additional logs for your further investigation, and below is the explanation of the logs.
The result shows that a ListViewItem has a clickable point on the screen, but we notice that the clickable point of the ListViewItem is out of the b

[2021-03-12 14:14] Leslie1Yang commented on #534
One more issue encountered.
In list view, if the window only allows 5 items but we have 10 items need to be shown, accessibility tool will detect the off-screen property and return as fail.
below is the screenshot and attach is the log for your reference.
[TestResults 03-12-21-Link.zip](https://github.com/microsoft/axe-windows/files/6130545/TestResults.03-12-21-Link.zip)
![pic1](https://user-image

[2021-03-12 17:17] dbjorge commented on #534
No, this isn't quite the same as #352. #352 covered cases where the elements in question were not user-focusable, but these list items are reporting that they are focusable.

`axe-windows` decides whether a clickable point is "on screen" by checking that is not null and that it is within the `BoundingRectangle` of the top-level ("Desktop") element of the UI Automation tree.

Thanks for providing e

[2021-03-13 09:20] Leslie1Yang commented on #534
Thanks for your feedback, Dan. May I know this issue will transfer to .NET Framework WPF engineet to solve to let our app fully compliant with the accessibility insight?

thanks.

[2021-03-15 14:04] RobGallo commented on #534
@Leslie1Yang  This issue will almost certainly not be fixed in .Net Framework WPF because it is not under active development. .Net Core does support [WPF](https://github.com/dotnet/wpf). And while we understand it is not a small decision to change .Net frameworks, that is the best option to get accessibility issues addressed.

[2021-03-16 04:37] Leslie1Yang opened #543 "[BUG] when Narrator is on and scan mode is disabled, PreviewKeyDown event by pressing "Narrator+Enter" cannot be triggered whereas “Enter” or “Space” can."
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

## Describe the bug

When the Narrator is running, the behavior of RoutedEvent or KeyEvent are different. For example, we can press space to trigger the ckb_Click event without Narrator is running but we can’t do it by pressing Narrator+Enter or Space in scan mode to trigger the ckb_Click event

[2021-03-16 17:53] karanbirsingh commented on #543
Hi Leslie, it seems like this question is closer to Narrator behavior or the .NET framework, which are separate from the axe-windows ruleset. We aren't the best folks to help with this; I see you have an open thread with eDAD, who may be better equipped to dig into this. I'm closing this issue for now, but feel free to let us know if we've missed some context about axe-windows rules. Thanks!

[2021-03-16 17:53] #543 closed

[2021-03-16 22:37] karanbirsingh commented on #541
@sachin-agarwal-by Can you please update your code repro so it has code-behind too? Having both `xaml` and `xaml.cs` together would be helpful. If you can share an *.a11ytest file, that would be helpful as well. You can make one by following [these instructions](https://accessibilityinsights.io/docs/en/windows/getstarted/automatedchecks/#saving-automated-check-results), and you can upload it by ch

[2021-03-21 08:55] sachin-agarwal-by commented on #541
there is nothing in the code behind we are just setting  TableListView.ItemsSource = testData;

[2021-03-22 17:10] karanbirsingh opened #554 "[Feature Request] Warn users when application is written in a Java framework that doesn't provide UIA information"
## Is your feature request related to a problem? Please describe.
When users test Java applications that don't provide meaningful UIA information (IntelliJ is an example), Axe.Windows & Accessibility Insights for Windows can show 0 errors. However, the UIA tree will show that very little UIA information was exposed. See this [FAQ question](https://accessibilityinsights.io/docs/en/windows/reference

[2021-03-22 22:01] chingucoding commented on #554
A way to somewhat detect this would be to have the UIA tree at least contain a certain amount of elements, e.g. a window that just has 2 elements is very likely to be entirely inaccessible since nothing is exposed.

[2021-03-22 23:52] karanbirsingh commented on #541
@sachin-agarwal-by The demo code you've shared doesn't seem to reproduce the issue. After making some adjustments (removing `Visibility="Collapsed"`, populating the control with sample data, etc) no scrollbar appears and there are no errors.

We have a separate issue report that may be related, but it's hard to know without a full sample. You can see discussion at #539 . If you think it is a dupli

[2021-03-24 16:35] DaveTryon opened #556 "[BUG] Name rules need to exclude popups and context menus"
**Describe the bug**
This is a spin-off of microsoft/accessibility-insights-windows#1087, using a specific instance in the AIWin UI

**To Reproduce**
Steps to reproduce the behavior:
1. Start an instance of AIWin
2. Populate the live mode hierarchy view by hovering over an app (I used Wildlife manager but it doesn't matter which app)
3. Pause tree updates
4. Start another instance of AIWin
5. Posi

[2021-03-30 03:00] #541 closed

[2021-04-01 15:32] DaveTryon commented on #556
This is in the main branch and will be included in the next release of Axe.Windows.

[2021-04-01 15:32] #556 closed

[2021-04-01 23:06] juchampa commented on #539
Closing this issue since it is a framework bug as mentioned in previous comments.

[2021-04-01 23:06] #539 closed

[2021-04-05 17:48] cprivera opened #572 "[Bug] AI for Windows flags error for Button content containing a private Unicode character despite having a separate AutomationProperties.Name set"
AI Windows reports an error that "The Name property must not contain any characters in the private Unicode range" for buttons with private Unicode characters set as their content despite the button having its AutomationProperties.Name property already set.

Each image here shows the button in question, with the error flagged on the 'text' inside the button. You can see the name property set for bo

[2021-04-06 18:41] JGibson2019 opened #571 "[BUG] Unexpected failures from BoundingRectangle rule"
**Describe the bug**
Axe.Windows is reporting that "An onscreen element must not have a null BoundingRectangle property" when it's not obvious why.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the latest version of Windows Debugger (download from https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugger-download-tools)
2. Under "Start debugging", click on the "Atta

[2021-04-08 15:44] RobGallo commented on #554
I believe this feature request to have been address by PR #558

[2021-04-08 15:47] RobGallo commented on #540
Fixed in PR #565

[2021-04-09 14:24] RobGallo opened #566 "[BUG] Remove rule: An element of the given ControlType must not support the Table pattern."
## Describe the bug

We will remove the rule ControlShouldNotSupportTablePattern because we have agreed with the UIA team that this rule is not necessary and produces false positives. Many UI Frameworks do not follow the documentation, creating issues application developers can't fix. And most developers seem to view lists with columns as the appropriate cognitive model for many types of data, rat

[2021-04-09 14:31] RobGallo commented on #566
This issue is resolved in PR #567

[2021-04-12 20:41] karanbirsingh commented on #571
Assigned to @RobGallo to either add details of requested implementation or to make the change

[2021-04-12 21:00] karanbirsingh commented on #554
released in https://github.com/microsoft/axe-windows/releases/tag/v1.0.7

[2021-04-12 21:00] #554 closed

[2021-04-12 21:00] karanbirsingh commented on #566
released in https://github.com/microsoft/axe-windows/releases/tag/v1.0.7

[2021-04-12 21:00] #566 closed

[2021-04-12 21:00] karanbirsingh commented on #540
released in https://github.com/microsoft/axe-windows/releases/tag/v1.0.7

[2021-04-12 21:00] #540 closed

[2021-04-19 21:16] karanbirsingh commented on #533
@RobGallo shared offline that it's unlikely we would pursue a change in the Axe.Windows rule implementation. We have opened https://github.com/microsoft/accessibility-insights-windows/issues/1113 to better address scenarios where rule execution errors are reported in the accessibility error UI.

[2021-04-19 21:16] #533 closed

[2021-05-03 21:53] DaveTryon commented on #572
Buttons are handled differently between .NET Framework and .NET Core. In .NET Framework, the Button element is a leaf node in UIA. In .NET Core (versions 3.1, 5.0, and 6.0 preview 3), a Button's text appears in UIA as a child element. The current rules aren't aware of this difference, so they are perceived as 2 separate controls, instead of 2 portions of the same element. We've reached out to the

[2021-05-04 20:00] DaveTryon commented on #572
Ok, the problem is understood and a fix is in the works. I'm attaching a zip file of a test app for easy reference.
[TestApp.zip](https://github.com/microsoft/axe-windows/files/6423603/TestApp.zip)

[2021-05-17 17:45] DaveTryon commented on #572
This fix is in the code, but it hasn't yet been released

[2021-05-21 23:24] NCarlsonMSFT opened #582 "[BUG] False Positive "An onscreen element must not have a null BoundingRectangle property""
## Describe the bug
When an app has controls that are scrolling off the screen while testing is being done the time between checking IsOnScreen and BoundingRectangle results in a missmatch.

**To Reproduce**
1. Git clone https://github.com/NCarlsonMSFT/ScrollingListBox.git
2. Open the Solution and Ctrl+F5
3. Use Accessibility Insights to test the MainWindow

## Expected behavior
No errors

## Actu

[2021-06-02 17:22] DaveTryon commented on #572
@cprivera, this is now fixed in the Canary channel of Accessibility Insights for Windows. You can either switch to the Canary channel from inside the settings tab or simply install a build from https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1611.01. Please regress and close at your earliest opportunity. Thanks!

[2021-06-02 18:17] cprivera commented on #572
Thank you for your work on this, appreciate it!

[2021-06-02 18:17] #572 closed

[2021-06-02 21:13] ferBonnin commented on #330
making a note of a new report of this issue with a group that had to have the Group name as part of it

[2021-06-08 16:23] karanbirsingh opened #590 "[BUG] Allow RadioButton to implement TogglePattern"
## Describe the bug

The rule https://github.com/microsoft/axe-windows/blob/a23dda60ec3784ab5b53a7d6f3484a1836a815fa/src/Rules/Library/ControlShouldNotSupportTogglePattern.cs#L13 prohibits radio buttons from implementing the toggle pattern. This is in line with the UIA documentation [here](https://docs.microsoft.com/en-us/dotnet/framework/ui-automation/ui-automation-support-for-the-radiobutton-con

[2021-06-08 17:19] chingucoding commented on #590
Can I take a look at this issue?

[2021-06-08 22:20] DaveTryon commented on #590
@chingucoding, I'm not sure we know exactly what we want to do here. My guess is that we'll downgrade the rule from `ErrorCode.Error` to `ErrorCode.Warning`, although that's not 100% certain. Please feel free to create a PR against that assumption and I'll assign the issue for triage (we normally triage these issues on Mondays, so the PR might sit idle for a few days before we know for sure what o

[2021-06-08 22:36] chingucoding commented on #590
Ah I see, my "instinct" would have been to just ignore the RadioButton control from this rule and leave it as an error. Alternatively, what about forking this rule into two rules:
1. Controls that DEFINITELY should not support togglepattern -> Error
2. Radiobutton that should not support the toggle pattern but is also okay if it supports toggle pattern -> Warning

[2021-06-09 17:30] DaveTryon commented on #590
@chingucoding, that was my first thought, as well. Looking at this rule's [Condition](https://github.com/microsoft/axe-windows/blob/main/src/Rules/Library/ControlShouldNotSupportTogglePattern.cs#L32), though, only applies to `RadioButton` elements, so the decision tree collapses to just changing the [ErrorCode](https://github.com/microsoft/axe-windows/blob/main/src/Rules/Library/ControlShouldNotSu

[2021-06-09 19:39] chingucoding commented on #590
Ah I see, that makes sense. I'll create a PR and we'll see what the next triage discussion decides.

[2021-06-14 21:22] DaveTryon commented on #590
@chingucoding, we discussed this today and decided that we want to remove this rule instead of making it a warning. Please feel free to submit an appropriate PR is you wish. Thanks!

[2021-06-14 22:53] DaveTryon commented on #582
@NCarlsonMSFT, you've identified a limitation of the current automated checks, which is that the tests are designed for a static UIA state; the scan results may be inconclusive if the UIA state changes partway through a scan. It might be theoretically possible to start an event listener, then monitor for changes that are within the scope of what we're scanning, and then report that back to the use

[2021-06-14 23:22] #582 closed

[2021-06-15 19:24] DaveTryon commented on #590
Thanks, @chingucoding! Your PR has merged and will be in tomorrow morning's build. We'll assign it back to @karanbirsingh for closing once the build is out

[2021-06-15 19:38] chingucoding commented on #590
Great. thanks for the update @DaveTryon ! On a different note, is it worth pointing out in the contributions guideline or readme that bugs will be closed once a new build is out instead of being closed once the PR is merged?

[2021-06-16 16:48] DaveTryon commented on #590
That's an interesting point about the contributions guideline, @chingucoding. In actual practice, issues get closed at different points, depending on the nature of the issue. There are 3 points where we would typically consider closing an issue:

1. After the change is incorporated into a signed build
2. After the change is incorporated into the published NuGet package
3. After the change is incor

[2021-06-16 20:09] chingucoding commented on #590
Sweet, thank you! On a different note, would it make sense indicating the usage of semantic commit messages in this repo? (sorry for hijacking this issue for this)

[2021-06-16 21:37] #590 closed

[2021-07-13 16:46] DaveTryon opened #615 "[BUG] Interop.UIAutomationCore.dll isn't embedded properly"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

## Describe the bug

The Interop.UIAutomationCore.dll assembly is supposed to be embedded into the Axe.Windows.Desktop assembly, but there's a problem in how it's built. As a result, when we tried to consume Axe.Windows in AIWin, attempts to use the custom UIA actions failed.

## Additional con

[2021-07-13 21:07] ferBonnin opened #617 "[BUG] Rules descriptions is confusing"
## Describe the bug

Rules description file now uses new severities. It took me several minutes to find the definition of _Open_ and _Note_ and this new definitions might not be clear for our users or might add additional cognitive load

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/microsoft/axe-windows/blob/main/docs/RulesDescription.md
2. read the rules' severit

[2021-07-15 17:42] #615 closed

[2021-07-19 20:19] AhmedAbdoOrtiga commented on #617
@DaveTryon @RobGallo @ferBonnin  I think Dave or Rob would be the best to help Fer especially with the second part "Would love to learn more about the goals for Note rules"

[2021-08-17 17:41] donnie-msft opened #627 "[BUG] WPF list item scrolled off screen is flagged as `IsOffScreen property must be false`"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

## Describe the bug

An item in a list that is not visible until scrolling down is being flagged as **An element's IsOffScreen property must be false when its clickable point is on screen.**

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new WPF Application (I tried .NET Framew

[2021-08-17 17:43] donnie-msft commented on #627
Apologies, wrong repo

[2021-08-17 17:43] #627 closed

[2021-08-19 00:24] donnie-msft opened #628 "[BUG] Axe sometimes shows fewer failures than AccessibilityInsights"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

## Describe the bug

I'm testing Axe, and when I compare the results to running AccessibilityInsights directly, I find Axe is missing some failures.
I'm using NuGet package Axe.Windows 1.1.0, which is the same version that my AccessibilityInsights was built with.

Is there any way I can determi

[2021-08-19 21:42] jalkire opened #629 "[BUG] False positive for "The name property of an element should not contain class names like 'Microsoft.*.*' or 'Windows.*.*'""
## Describe the bug
There are cases where the name property for an element begins with "Microsoft." or "Windows." but is not a class name automatically used as the element's name. For example, a hyperlink could be labelled "Microsoft.com" because it links to microsoft.com. In this case, the name is correct.

## Current state
We are keeping this bug open so users can report any other instances when

[2021-08-19 21:44] jalkire commented on #629
Noting that a user reported this false positive caused by a list item displaying packages which happened to start with "Microsoft."

[2021-08-19 21:47] jalkire commented on #629
Noting that #485 discusses this rule

[2021-08-24 13:36] meichunwu opened #630 "[General Question]"
**Questions**:This sample code is implement by Table DataGrid with filled by custom data named “CleanDiskData”, I have try to change the accessibility name “DataGrid.MainWindow+CleanDiskData” to content text “Titlee” but it’s still not workable. Could you provide some suggestion how to replace the accessibility name ? (Attachment is sample code [DataGrid.zip](https://github.com/microsoft/axe-windo

[2021-08-24 23:16] dbjorge commented on #630
Hi @meichunwu ,

I've retitled your question to indicate that it's specific to the `DataGridTemplateColumn` control that your sample code is using. To set accessible names in a `DataGridTemplateColumn`:

* For the `dataitem` (the parent of the control you have highlighted in your screenshot, which represents the row of data), `DataGridTemplateColumn` uses the output from calling the `ToString()` o

[2021-08-26 06:38] EltonChen123 opened #631 "[BUG] Cannot assign AutomationProperties.Name to list item if list item contains a usercontrol object"
## Describe the bug
We define a ListBox and define a customized list item which contains a usercontrol to show the app icon, app name, size... When we set AutomationProperties.Name to list item, it change the name of usercontrol, not list item name. The list item name still show the usercontrol class name. How to change the list item name?

**To Reproduce**

![image](https://user-images.githubuser

[2021-08-30 18:57] dbjorge commented on #631
Hi @EltonChen123 ,

This is more of a WPF question than an axe-windows bug, so I'm going to mark this issue as closed/out-of-scope for axe-windows.

That said, [this sample project](https://github.com/guybark/WPFListItemAccessibleNames) (particularly, [this bit of XAML](https://github.com/guybark/WPFListItemAccessibleNames/blob/c676611e7984de694ea4e601462c54c926cd5b77/WPFListItemAccessibleNames/Ma

[2021-08-30 18:57] #631 closed

[2021-09-14 16:47] DaveTryon commented on #617
@juchampa is going to confer with @ferBonnin to come up with a proposed description, then we can update as needed.

[2021-09-14 17:38] chingucoding commented on #617
If you decided on what the best way to solve this would be, I would gladly help implement an improvement for this :)

[2021-09-15 23:42] ferBonnin commented on #617
thanks @chingucoding! As soon as we sync on this we will reply here and let you know :smile:

[2021-09-23 06:38] lisli1 opened #636 "[BUG] WinForms edit control does not support TextPattern"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

## Describe the bug

On .NET Framework, WinForms edit (numeric up down) control does not support the TextPattern

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

Running AI Win on an app with the e

[2021-09-24 23:47] DaveTryon commented on #628
@donnie-msft, as we discussed on the phone, Axe.Windows is the core of AIWin, and the expectation is that they will always report the same deterministic results against the same input data. In this case, it seems like UIA is reporting different data between the different runs, and as neither you nor I were able to repro this behavior today,  it feels like a transient issue in UIA when you were run

[2021-09-25 00:12] DaveTryon commented on #330
@juchampa, you flagged this as ready for work, but it's not clear what work should happen here. Moving back to needs investigation status

[2021-09-27 20:59] DaveTryon commented on #628
@donnie-msft, as discussed, without a consistent repro there's really nothing that we can do here. Sending it back to you to please close out unless you can find a consistent repro.

[2021-10-05 00:00] #628 closed

[2021-11-08 21:30] DaveTryon opened #648 "[BUG] We should not apply name rules for controls that are children of a CheckBox"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

In #572, we chose to ignore text checks on controls that are children of buttons, since AT's will use the `Name` property that the Button provides, and we don't need to know how it is computed. We have a similar issue with CheckBoxes. Consider the following XAML:

[code]

In this sample, AT's w

[2021-11-15 00:25] lihas opened #653 "[BUG] Improve Message: "A split button must not support both the Invoke and Toggle patterns""
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

## Describe the bug
For a win32 split button (child of win32 toolbar), if it supports IExpandCollapseProvider, but neither IToggleProvider, nor IInvokeProvider, `SplitButtonInvokeAndTogglePatterns ` rule shows the following error.
`A split button must not support both the Invoke and Toggle patt

[2021-11-15 17:46] DaveTryon commented on #653
Thanks, @lihas! We'll take a look. Just to make sure that we're looking at the same thing you are, can you please attach one or both of the following:
1. A simple app that we can build on our end that shows the problem.
2. An a11ytest file showing the error.

Thanks again!

[2021-11-16 00:31] DaveTryon commented on #653
Hello again, @lihas! I've looked at the UIA documentation and the history of this rule, and I can't find any scenario where the docs would justify having neither `TogglePattern` nor `InvokePattern`. I tried adding a simple `SplitButton` into a Win32 app, and wasn't able to reproduce the failure that you're describing. I'm afraid that we'll need to ask you for a small sample project that demonstrat

[2021-11-19 04:13] lihas commented on #653
` I've looked at the UIA documentation and the history of this rule, and I can't find any scenario where the docs would justify having neither TogglePattern nor InvokePattern`

if the split button should support at least one of the two, then the error message should be modified.
`"A split button must not support both the Invoke and Toggle patterns"`
This is the current error message. This implies

[2021-11-19 13:41] lihas commented on #653
sample app - https://github.com/windows-development/SplitButtonAccessibility
The sample app is a native MFC/win32 app.
In the following image "Split btn" is a split button which implements IExpandCollapseProvider, but neither of IToggleProvider, and IInvokeProvider.

![image](https://user-images.githubusercontent.com/1687568/142631312-c9f1ee69-4441-4ee5-a525-0a086c798500.png)

A native win32 split

[2021-11-20 01:32] DaveTryon commented on #653
Thanks, @lihas! I'll take a look at this on Monday. One more question--what OS were you running when you ran the scan? We've had reports of odd problems with pattern detection on Windows 11, so it would definitely be interesting to know if you encountered this on Windows 11.

[2021-11-22 20:52] DaveTryon commented on #653
Thanks, @lihas! I have a repro of this using your sample code and Win10. We'll need to investigate it from our side. Marking as ready for triage.

[2021-11-23 19:36] lihas commented on #653
Dave, the bug is neither in MFC, nor in the detection of patterns.
I debugged axe, and accessibility insights (after locally building them both).
The patterns supported by my split button are getting detected correctly.
Also, although an MFC app, MFC has no role to play here since I am implementing the provider from scratch.
I can create a sample in pure win32 (without use of MFC) if required.
Aft

[2021-11-28 22:23] lihas commented on #653
@DaveTryon Please let me know if you need more information.

[2021-11-29 22:06] DaveTryon commented on #653
We triaged this today. The consensus is to change the primary message to "A split button must support exactly one of the Invoke or Toggle patterns"

We will create separate issues that deal with false positives triggered by generic SplitButton items supported in Win32, UWP, and (potentially) MFC.

[2021-11-29 22:08] DaveTryon commented on #653
I'll also move this to the Axe.Windows repo.

[2021-11-29 22:24] chingucoding commented on #653
@DaveTryon Mind if I work on this issue?

[2021-11-29 23:53] DaveTryon commented on #653
@chingucoding, please feel free to take a stab at rewording the text. You'll also need to take a look at the HowToFix description. These are intentionally short because there's a cap on the maximum length of a bug sent to ADO. Please try to keep this in mind when wordsmithing.

[2021-11-30 00:17] DaveTryon opened #659 "[False Positive] Win32 SplitButton creates error on inner element"
## Describe the bug

The Win32 SplitButton control is implemented via nested SplitButton elements. The parent element supports the ExpandCollapse pattern, but the child element does not. We should modify the `ControlShouldSupportExpandCollapsePattern` to exclude the child SplitButton element on Win32.

**To Reproduce**
Steps to reproduce the behavior:

1. Start the [Win32ControlSampler](https://gi

[2021-11-30 00:18] DaveTryon commented on #659
We discussed this in triage on 11/29

[2021-11-30 20:19] chingucoding commented on #659
What would be the best way to fix this? Check if we have two SplitButtons nested inside each other and skip the second one?

[2021-11-30 21:45] DaveTryon commented on #659
@chingucoding, it would be along the same lines as #575 or #651. In `ControlShouldSupportExpandCollapsePattern.Condition`, I'd probably create a local variable that specifically excludes a child SplitButton:
[code]
...then replace `SplitButton` with `eligibleSplitButton` in line 34.

This adds some complexity to the unit test since what used to be 2 test cases now becomes several.

[2021-12-02 03:20] DaveTryon commented on #659
Marking this as resolved until we release a new version of Axe.Windows

[2021-12-09 22:36] karenbtlai opened #662 "[BUG] ERROR Automation017: Fail to get the root element of a process(11548)"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

## Describe the bug

I am trying to integrate Axe.Windows into Microsoft-ui-xaml testing pipeline and am running into some issues. It is returning this error:
[code]
You can find the PR [here](https://github.com/microsoft/microsoft-ui-xaml/pull/3764), and the pipeline results [here](https://dev

[2021-12-13 19:12] karenbtlai commented on #662
Update: the issue seems to be that it's missing a couple .dlls in the HelixPayload directory which is where the TAEF tests are running from.

[2021-12-13 19:12] #662 closed

[2021-12-13 19:15] #284 closed

[2021-12-13 19:20] RobGallo commented on #284
Closing this issue due to it's advanced age (nearly 2 years). Closing issues like these helps prioritize more urgent and meaningful work.

[2022-01-10 19:17] DaveTryon commented on #659
This has been fixed in [Axe.Windows 1.1.2](https://github.com/microsoft/axe-windows/releases/tag/v1.1.2)

[2022-01-10 19:17] #659 closed

[2022-01-10 19:17] DaveTryon commented on #648
This has been fixed in [Axe.Windows 1.1.2](https://github.com/microsoft/axe-windows/releases/tag/v1.1.2)

[2022-01-10 19:17] #648 closed

[2022-01-10 19:20] DaveTryon commented on #653
The bug text has been fixed in [Axe.Windows 1.1.2](https://github.com/microsoft/axe-windows/releases/tag/v1.1.2). I'll update this bug once the Canary version of AIWin picks up the fix

[2022-01-11 20:59] chingucoding opened #665 "[Feature Request] Enable automated scans of processes with multiple top-level windows"
As we worked on adding automated Axe tests for [Files](https://github.com/files-community/files) we stumbled upon the fact that Files only has one process ID but it can spawn multiple windows. After some short testing, we noticed that the most recently focused window was the one to be scanned, a11y issues on the other windows were ignored. My question would be, if that is the expected behavior or

[2022-01-11 21:06] DaveTryon commented on #653
Hello, @lihas! This change is now live in our release at https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1836.01. You can easily use this build just by switching to the Canary release channel. Please take a look, then close the bug after you've regressed it. Thanks!

[2022-01-12 14:50] lihas commented on #653
Installed Canary Release: v1.1.1836.01 from the link given above.
I am able to see the updated message.
Bug is fixed.
Closing this issue.

[2022-01-12 14:50] #653 closed

[2022-01-14 17:23] chingucoding commented on #665
Hi @dbjorge , thank you for your detailed reply!

I think I would definitely use a feature that would allow me to scan all windows of a given process. My ideal solution would be having a configuration option when creating a scanner to specify whether to either scan the "first" window or scan all windows. It could look something like this:

[code]

The default option for this would be `LastFocused`

[2022-01-14 17:38] chingucoding commented on #665
Also, if we decide on an API to use for this, I would be more than happy to contribute such a feature!

[2022-01-24 15:04] RobGallo commented on #665
@chingucoding , Sorry it's taken us a minute to get back to you. Thanks for your patience. The API we're considering at the moment is probably the simplest option: adding a method to the builder which takes a 0 based window index for the process (i.e., Config.Builder.WithWindowIndex(int index)). In this way, you would pass in the process id and the window index and the result returned would be for

[2022-01-24 20:53] chingucoding commented on #665
Thank you for your reply @RobGallo! This would be a good enough solution for me, however having the option to scan every window would also be appreciated. The only thing that could be a bit annoying is that one would need to create a new scanner in case a new window get's opened instead of being able to use the existing scanner. The current way I use Axe is to create one scanner for the test run a

[2022-01-24 23:04] RobGallo commented on #665
@chingucoding
We considered scanning all the windows of a process, But we believe the window index solution is more doable in the short term because it wouldn't require so many major changes. Scanning multiple windows with one call would force us to rethink/rework how we handle file lifetimes, file names, and scan results, which are all areas currently designed around the assumption that one scan

[2022-01-25 00:15] chingucoding commented on #665
I see, yes that makes a lot sense @RobGallo . I would still be interested in implementing this in the current form. What would be the best way to move forward then? Should we discuss the edge case behavior here or should I rather create a PR and we discuss it there?

Also, on a slightly different note, would there be plans to change the file and screenshot behavior at some point to allow to scan m

[2022-01-25 15:43] RobGallo commented on #665
@chingucoding
I'm not sure which "edge case" you mean?

As for changing the file and results behavior, it's a possibility; it depends a lot on customer needs. As Yoda says, "Difficult to see. Always in motion is the future."

[2022-01-25 18:19] chingucoding commented on #665
Maybe this is not an edge case, but since we set the window index in the config, we have no way to verify if at the time of scanning that would make sense. So we would need to throw an exception when running the scan if the window index is not correct (i.e. to high).

Another thing I just noticed is how this could be done so the existing behavior is not being changed and don't break existing usage

[2022-01-25 21:10] RobGallo commented on #665
@chingucoding
We _should_ throw an exception if this indexed window is unavailable . Please follow the examples of similar exceptions in the code.
Yes, if the window index is not specified, the expected behavior should be the existing behavior: the first window is scanned.

I don't believe I've ever seen documentation stating it, but in my experience, the call we use to retrieve the children is de

[2022-01-25 21:53] chingucoding commented on #665
Got it, thanks!

Would there be a good way to determine which window is the "first" window then? Should we sort them based on some criteria? Otherwise, if the order is something only UIA knows, I can imagine it can get very difficult to get the index right.

[2022-01-26 15:23] RobGallo commented on #665
"Would there be a good way to determine which window is the 'first' window then? Should we sort them based on some criteria? Otherwise, if the order is something only UIA knows, I can imagine it can get very difficult to get the index right."

What types of information do you think you would need in order to determine which window you wanted to scan? We're thinking we might provide a way to return

[2022-01-26 18:23] RobGallo commented on #387
@RolandLeFranc,

We still believe this is a [known XAML issue](https://github.com/microsoft/microsoft-ui-xaml/issues/1979) and that this is not a false positive in Accessibility Insights for Windows.

[2022-01-26 19:09] chingucoding commented on #665
I think the UIA information provided by the UIA tree would be enough here, having the UIA name of the window is even enough.

Yes I understand this and this would be also the use case for me. However, what "worries" me is that I don't know in what order the windows would be when running the scan. We know that the first window is the last focused one. Does that mean they are sorted by last focused?

[2022-01-31 17:57] RobGallo commented on #665
@chingucoding
After my discussion with you, we have decided it would be most straight forward to scan all windows of a process. This change is more involved than what you and I were discussing earlier. You should see some PR's coming in the not-too-distant future to address this issue.

[2022-01-31 18:52] chingucoding commented on #665
Sorry if it sounded like I wanted to have different features than initially discussed. Having a way to specify the window would be good enough and I also have the necessary changes locally (except tests). None the less, I understand your decision and would be more than happy to help contribute regardless what feature it should be.

[2022-01-31 20:34] RobGallo commented on #665
@chingucoding
Thanks for your willingness to help! I may come back to you with an ask at some time during the process.

[2022-02-28 23:57] DaveTryon commented on #571
I've spoken with the original reporter, and this doesn't appear to be a rule issue. The code being flagged uses a style trigger that frequently results in an Image control with no image--since there's no image, the control has an empty bounding rectangle but it's still visible. The default [IsOffscreenBehavior](https://docs.microsoft.com/en-us/dotnet/api/system.windows.automation.isoffscreenbehavi

[2022-03-02 20:05] asksep commented on #617
PMs met with Rob and decided to change Note/Open and to "Needs Review" to add more clarity of expectation to users.

[2022-03-03 17:22] DaveTryon commented on #571
Closing this bug since there's nothing for us to do on it

[2022-03-03 17:22] #571 closed

[2022-03-21 21:06] DaveTryon commented on #665
@RobGallo has a plan on this and is working on it

[2022-04-11 21:36] DaveTryon commented on #665
Hello, @chingucoding! We've completed our internal work on this and this is all ready for you to pick up if you're still interested in completing it. The general plan is as follows:
1. Nothing should change if a process has only a single top-level window
2. When multiple top-level windows exist, we want to scan them all and generate an a11ytest file for each one, even if the scans are clean (note

[2022-04-12 12:49] chingucoding commented on #665
Awesome, thanks for the update, I'll start working on it using your branch. Let me know what the best way would be to incorporate the changes then. Should I create a new PR targeting main or should it target your branch? Of course we can coordinate that later once I'm (mostly) finished.

[2022-04-14 17:05] DaveTryon commented on #665
I think I'd just merge my branch into a branch in your fork, then work on it from there. When it's time to open the PR, just open it against the primary repo. The branch was just a convenient way to capture some ideas--there was never any intent that it would be used for anything more than that

[2022-04-15 08:12] chingucoding commented on #665
Ah got it. I'll do that then and create a new PR against this repository.

[2022-05-12 19:34] microsoft-github-policy-service[bot] opened #691 "This repo is missing mandatory files"
There are several mandatory files we require in this
repository. A pull request has been opened to add the
missing files. When the pr is merged this issue will be
closed automatically.

[Merge this pull request](https://github.com/microsoft/axe-windows/pull/690)

[2022-05-13 15:01] #691 closed

[2022-05-13 19:48] DaveTryon commented on #617
Marking this as resolved. Will mark as closed once we release the next version of Axe.Windows

[2022-05-18 16:04] DaveTryon commented on #617
@ferBonnin, we've updated https://github.com/microsoft/axe-windows/blob/main/docs/RulesDescription.md, which may be enough to close it. The changes will also be in our next release after we complete the backend work for known framework bugs. Please feel free to close out as appropriate

[2022-05-18 16:27] #617 closed

[2022-06-30 10:39] Alexey42 opened #722 "[BUG] Deadlock in TreeWalkerForLive.GetTreeHierarchy"
Deadlock in LINQ AsParallel.ForAll loop when calling TreeWalkerForLive.GetTreeHierarchy with desktop element for the second time. If i use foreach instead of ForAll everything is ok.

You can reproduce it by calling TreeWalkerForLive.GetTreeHierarchy(A11yAutomation.ElementFromDesktop(), TreeViewMode.Control) twice.

I expected i can update children this way but it just locks my app. The fact that

[2022-06-30 15:36] sfoslund commented on #722
Hi @Alexey42, thanks for using axe windows! Can you please provide a little more information on how to reproduce this issue? I've attached a simple console app I used to try to repro but I wasn't able to reproduce the deadlock. If you could provide more repro instructions or a repro application that would be very helpful, thanks!

[DeadlockRepro.zip](https://github.com/microsoft/axe-windows/files/

[2022-07-01 08:02] Alexey42 commented on #722
Hi. It should be WPF application and second call is in ui event. Example code (https://github.com/Alexey42/testApp):

public partial class MainWindow : Window
    {
        A11yElement element;
        TreeWalkerForLive tw;

        public MainWindow()
        {
            InitializeComponent();

            element = A11yAutomation.ElementFromDesktop();
            tw = new TreeWalkerForLive();

[2022-07-01 15:31] sfoslund commented on #722
@Alexey42 thanks for the repro project, I was able to reproduce this behavior with the test app you provided.

[2022-07-06 18:36] #722 closed, assigned to nobody

[2022-07-08 18:22] DaveTryon commented on #665
This was added a while back, but we forgot to close this issue.

[2022-07-08 18:22] #665 closed

[2022-07-30 16:48] chingucoding opened #730 "[BUG] Scanning UWP apps crashes since UIAutomation does not find any child elements"
## Describe the bug

When scanning a UWP app, calling `Scan(all)` crashes with an exception originating from TargetElementLocator.cs:

[code]

The issue originates from the fact that calling `UIAutomation.FindAll` in `A11yAutomation.cs`, line 69, returns no elements. This is a regression introduced by #676 since behavior was changed to filter elements using `TreeScope.TreeScope_Children` instead o

[2022-08-01 19:58] RobGallo commented on #730
@chingucoding
I think the most reliable way to solve this problem is probably not to call FindAll, but to use an IUIAutomationTreeWalker instead. How do you feel about giving that a try? If you want, I may be able to take a look in the coming days.

[2022-08-03 19:05] chingucoding commented on #730
Sure, I can give that a try. Can you point me to an example of that or the general idea of how this could work @DaveTryon ?

[2022-08-08 23:49] DaveTryon commented on #730
Hi, @chingucoding!

I opened WinUI 2 Gallery in AIWin, and there are 2 processes here. The topmost process (the child of the desktop) is named `ApplicationFrameHost.exe`. This process contains the system menu and the minimize/maximize/close buttons.

The second process, `AppUIBasics.exe` has a window that is a **child** of window owned by the `ApplicationFrameHost.exe` process. This the process th

[2022-08-09 22:52] chabiss opened #732 "[Feature Request] Need Task<ScanResults> IScanner.ScanAsync()"
## Is your feature request related to a problem? Please describe.
Currently the call to ScanResults IScanner.Scan() will result in a blocking call that will blocked the host making the call and bloking the UI thread, which is not desirable.

## Describe the solution you'd like
We need Task<ScanResults> IScanner.ScanAsync() which allows the scanner to run asynchronously in a background thread

## D

[2022-08-09 23:02] chabiss opened #733 "[Feature Request] NativeMethods.SetProcessDPIAware() should be reset after scan"
## Describe the bug
The call to SetProcessDPIAware()
https://github.com/microsoft/axe-windows/blob/4a09d8728ed72fa9d307052a52a1dd4d9cee1258/src/Automation/SnapshotCommand.cs

Will affect any host application integrating axe-window into their product and it's not undone once the scan is completed.  Either remove the call or bring the host application state to where it was before.

[2022-08-09 23:05] chabiss opened #734 "[Feature Request] Localization support in the CI/DI pipeline"
## Is your feature request related to a problem? Please describe.
Visual Studio plans to integrate axe-window into an accessibility checker that is part of Visual Studio's ide.  In order to distribute axe-windows as part of Visual Studio, the resource dlls needs to be translate into the supported languages that VS ship with.

## Describe the solution you'd like
Add CI pipeline for translating the

[2022-08-10 16:39] spadapet commented on #733
I think a good alternative to SetProcessDPIAware() is SetThreadDpiAwarenessContext(), which just changes the current thread and also allows you to switch the thread's awareness back to the way it was:
https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-setthreaddpiawarenesscontext

[2022-08-10 18:13] chingucoding commented on #730
Awesome @DaveTryon , I'll take a look and create a PR then. Please assign this issue to me.

[2022-08-15 21:30] DaveTryon commented on #732
In offline conversations, having proper cancellation is part of the ask, even though it's not called out in the description.

[2022-08-15 21:30] ferBonnin commented on #733
Thanks for the feature request, @chabiss, marking this as needs investigation to analyze on our side.

[2022-08-15 21:31] ferBonnin commented on #732
Thanks for the feature request, @chabiss, marking this as needs investigation to analyze on our side.

[2022-08-29 18:36] DaveTryon commented on #730
This was fixed in release 1.1.7

[2022-08-29 18:36] #730 closed

[2022-10-10 17:58] DaveTryon commented on #733
This has been merged into main and will be included in an upcoming release of Axe.Windows. We'll close it out once we release the updated package to GitHub

[2022-10-10 18:00] DaveTryon commented on #732
We're actively working on this feature

[2022-10-11 16:18] dilyantraykov opened #780 "Handle BoundingRectangleSizeReasonable rule for elements with area of less than 25 pixels"
Hello,

In our application, we have rectangles (displayed by a sparkline control) that have an area of fewer than 25 pixels (for example, 12x2 pixels).

![image](https://user-images.githubusercontent.com/5472516/195145577-69ec200a-f74f-4773-893b-16475bc28b17.png)

What would be the suggested approach for handling these elements so that they're not marked as problematic by the Accessibility Insight

[2022-10-19 16:44] DaveTryon opened #770 "CustomUIA settings have some overlap between async scans"
Please check whether the bug has [already been filed](https://github.com/Microsoft/axe-windows/issues).

## Describe the bug

In #757 and #767, we created separate data instances for use by async scans. We did not separate out CustomUIA data renderers, meaning that there's a small chance of problem if concurrent async scans run in the same process with different CustomUIA settings. This is a corne

[2022-10-21 18:02] DaveTryon commented on #733
@chabiss, This is included in version 2.0.0. Release details are at https://github.com/microsoft/axe-windows/releases/tag/v2.0.0. Closing this issue

[2022-10-21 18:02] #733 closed

[2022-10-21 18:03] DaveTryon commented on #732
@chabiss, This is included in version 2.0.0. Release details are at https://github.com/microsoft/axe-windows/releases/tag/v2.0.0. Closing this issue

[2022-10-21 18:03] #732 closed

[2022-10-21 18:09] DaveTryon commented on #770
This was fixed in #773

[2022-10-21 18:09] #770 closed

[2022-10-24 22:37] DaveTryon commented on #780
In today's triage discussion, we agreed to update the `Condition` of the `BoundingRectangleSizeReasonable` rule to omit WPF controls if their ItemStatus property includes the text `<Property Name="DataContext" Value="Telerik.Windows.Controls.Sparklines.SparklineColumnDataPoint" />`

[2022-10-25 06:06] chingucoding commented on #780
@DaveTryon @asksep Mind if I work in this issue?

[2022-10-25 14:28] RobGallo commented on #780
@chingucoding,
You're welcome to work on this issue :)

[2022-11-08 03:40] DaveTryon commented on #780
This is fixed but we need to keep the bug in the resolved state until we actually release the updated package

[2022-11-11 23:48] dbjorge opened #836 "[Feature Request] Make scans against Chromium-based UIs more actionable"
## Is your feature request related to a problem? Please describe.

This issue is based on discussion with @RobGallo and @DaveTryon after several customer interactions where users attempting to scan apps that are Chromium-based get confused.

The most common case is a user trying to scan a browser (Edge, Chrome, etc) with their page loaded, but we've also seen cases where a user has their own Windo

[2022-11-15 23:29] DaveTryon commented on #780
@dilyantraykov, this has been fixed in Axe.Windows 2.1.0, released today. Please close out at your convenience. Thanks!

[2022-11-15 23:31] DaveTryon commented on #734
@chabiss, this is in Axe.Windows 2.1.0, released today. Please close this issue at your convenience. Thanks!

[2022-11-30 14:11] dilyantraykov commented on #780
Hello team,

Please excuse me for the late response and thank you for the effort in creating a fix.

Although this works in our particular scenario, there are other elements that also exhibit such errors which have a different ItemStatus code. I assume that other vendors may also have such issues with similar elements but their ItemStatus values will differ.

Would it be possible to expose some pr